* {
  font-family: 'PT-sans', sans-serif;
  line-height: 22px;
  font-size: 14px;
}

.feedback {
  position: fixed;
  background: rgb(64, 64, 64, 0.5);
  z-index: 20000;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-in;
  animation-duration: 1s;
  animation-name: feed;
}

.under-menu_item:hover {
  font-weight: bold;
}

menu .feedback-button {
  display: none;
}

.emall {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
}

input:invalid {
  box-shadow: inset 0px 0px 10px red;
  border: red;
}

input:valid {
  box-shadow: none;
}

input::placeholder {
  color: red;
  padding: 10px;
}

@keyframes feed {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

label {
  font-weight: bold;
  padding-bottom: 5px;
}

.output img {
  width: 27px;
  height: 27px;
}

.output {
  width: 485px;
  display: flex;
  justify-content: flex-end;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'PT-sans', sans-serif;
  width: 300px;
  height: 600px;
}

form button {
  border: none;
  outline: none;
  background-color: #777777;
  color: #ffffff;
  padding: 15px 20px;
  font-weight: bold;
}

form label {
  color: #6a6a6a;
}

.heading {
  font-size: 24px;
  font-weight: bold;
  color: #535353;
  margin-bottom: 30px;
}

.feedback-button_item:hover {
  color: black;
}

.input {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  border: 1px solid #c3c3c3;
}

textarea {
  resize: none;
  padding: 5px;
  width: 100%;
  height: 140px;
  margin-bottom: 25px;
}

.feedback-block {
  padding: 35px 65px 30px 65px;
  background-color: #ffffff;
}

.wrapper_header {
  background-color: #dcdcdc;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 10px;
}

.logo {
  padding-top: 25px;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 35px;
  padding-bottom: 60px;
}

.contacts {
  color: #767676;
}

.number {
  text-decoration: none;
  color: #767676;
  font-family: 'Open-sans';
  font-size: 40px;
  line-height: 45px;
}

.number:hover {
  font-weight: bold;
}

.feedback-button {
  display: flex;
  justify-content: flex-end;
}

.feedback-button_item {
  font-size: 22px;
  border-bottom: dashed;
  color: #767676;
  text-decoration: none;
  font-weight: bold;
}

.wrapper_nav {
  background-color: #777777;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu_item {
  list-style-type: none;
  color: #ffffff;
  font-size: 27px;
  padding: 25px 0;
}
.hamburger-menu {
  margin: 0;
}

.menu_item span {
  padding: 25px 0;
  font-size: 27px;
}

.menu_item span:hover {
  border-bottom: 1px solid #ffffff;
  padding: 1px;
}

.menu_item:not(:last-child)::after {
  content: '|';
  color: #ffffff;
  padding: 0 25px;
}

.button {
  background-color: #d1d1d1;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 35px;
  height: 60px;
  padding: 0;
}

.arrow-right {
  width: 45px;
  height: 45px;
}

.wrapper_slider .container {
  height: 100%;
  position: relative;
  top: -100%;
}

.slider {
  height: calc(180px + 230 * ((100vw - 320px) / 1120));
  position: relative;
}

.swiper-slide {
  overflow: hidden;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.swiper-left {
  position: absolute;
  z-index: 100;
  top: 50%;
  transform: translateY(-50%);
  background-color: #d2d2d2;
}

.swiper-left img {
  width: 40px;
  height: 50px;
}

.swiper-right {
  position: absolute;
  z-index: 100;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-color: #d2d2d2;
}

.swiper-right img {
  width: 40px;
  height: 50px;
}

.wrapper_content {
  padding-top: 10px;
}

.selection {
  display: flex;
  color: #767676;
}

.selection-item {
  list-style-type: none;
  color: #767676;
}

.selection-item:not(:last-child)::after {
  content: '/';
  padding: 0 5px;
}

.selection-item a {
  width: 65px;
  border-bottom: 1px solid #767676;
}

.leftblock-menu {
  color: #767676;
  list-style-type: none;
}

.leftblock-menu ul {
  display: none;
  flex-direction: column;
  list-style-type: disc;
}

.leftblock-menu ul span {
  font-size: 16px;
  line-height: 15px;
}

.leftblock-menu span {
  font-size: 20px;
  line-height: 30px;
  padding: 0;
  margin: 0;
}

.leftblock-menu span:hover {
  border-bottom: 1px solid #767676;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: #010101;
  font-weight: bold;
}

.leftblock-menu ul span:hover {
  color: #010101;
  font-weight: bold;
}

.card {
  background-color: #dcdcdc;
  padding: 20px;
  margin: 0px 15px 20px 0;
}

.card:nth-child(3n) {
  margin: 0px 0 20px 0;
}

.block {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 200px;
}

.card-text {
  color: #767676;
  width: 210px;
  font-size: 18px;
  padding: 20px 0px 55px 0px;
}

.nophoto {
  width: 210px;
  height: 210px;
}

.img-price {
  width: 28px;
  height: 21px;
  padding-right: 10px;
}

.card-price {
  display: flex;
  justify-content: space-between;
}

.price-many {
  font-weight: bold;
  font-size: 28px;
}

.block-card {
  display: flex;
  flex-wrap: wrap;
  max-width: 780px;
}

.numbers-pages {
  display: flex;
  justify-content: center;
  color: #888888;
  margin-top: 15px;
}

.number-pages {
  font-size: 17px;
  margin-right: 20px;
  margin-bottom: 65px;
}

.number-pages:last-child {
  margin-right: 0px;
}

.current_number-pages {
  font-size: 19px;
  color: #444444;
}

.number-pages:hover {
  font-size: 19px;
  color: #444444;
}

.line {
  margin-bottom: 35px;
  max-width: 780px;
  height: 1px;
  background-color: #777777;
}

.box-text {
  color: #767676;
  display: flex;
  justify-content: space-between;
}

.box-text_item {
  max-width: 380px;
}

.logo-content {
  margin-top: 110px;
}

.logo-content_text {
  font-weight: bold;
  font-size: 30px;
}

.plogo {
  margin-left: 40px;
}

.wraper_footer {
  background-color: #777777;
  padding: 50px 0;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #dddddd;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-box_left {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.logo-company {
  margin-right: 10px;
  width: 36px;
  height: 38px;
}

.box_item_one a {
  text-decoration: none;
  color: #dddddd;
  border-bottom: 1px solid;
}

.under-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 25%;
}

.under-menu_item {
  list-style-type: none;
  border-bottom: 1px solid;
}

#menu__toggle {
  opacity: 0;
  display: none;
}

@media (max-width: 1000px) {
  .card:nth-child(3n) {
    margin: 0px 15px 20px 0;
  }
  .block-card {
    max-width: 530px;
  }

  .block-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .box-text_item {
    max-width: 100%;
  }

  .logo-content {
    display: none;
  }
  .block {
    display: flex;
    flex-direction: column;
  }
  .box-text {
    display: flex;
    flex-direction: column;
  }

  .box-text_item:nth-child(1) {
    margin-bottom: 20px;
  }

  .logo {
    display: none;
  }

  .feedback-button_item {
    color: #ffffff;
    border: none;
  }

  .wrapper_header {
    height: 40px;
  }

  .wrapper_nav {
    z-index: 1;
  }

  .feedback-button {
    position: fixed;
    z-index: 110;
    color: #ffffff;
    top: 20px;
    width: 80%;
    margin-left: 55px;
  }
  .menu_item:not(:last-child)::after {
    content: '';
    padding: 0 25px;
  }

  .wrapper_nav {
    position: relative;
    z-index: 100;
  }

  .fon {
    background-color: #777777;
    width: 100%;
    height: 60px;
    top: -40px;
    position: fixed;
    z-index: 1000;
  }

  .number {
    display: none;
  }

  .hamburger-menu {
    height: 60px;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 200;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: black;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    z-index: 180;
  }

  .menu__item {
    display: block;
    position: absolute;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #cfd8dc;
  }

  #menu__togle {
    display: flex;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu {
    visibility: visible;
    left: 0;
  }

  .block-card {
    max-width: 250px;
  }

  .card {
    background-color: #dcdcdc;
    padding: 10px;
    margin: 0px 7.5px 10px 0;
  }

  .footer-box_right,
  .under-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .footer-box_left {
    margin-top: 20px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }

  .block-cards {
    margin-top: 30px;
  }

  input::placeholder {
    font-size: 10px;
  }

  .output {
    width: 385px;
  }

  form {
    width: 200px;
    height: 500px;
  }

  .heading {
    font-size: 21px;
  }
}
